VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_VAPID_PUBLIC_KEY=BELY7U_Yy3Kui59F_4qdHRF3bm1gIQPeC3uv6--LJuMMksf8uPqlXNw6Jvp6oEsYPcoBltNFCu_mlATBdAM_2OE
VAPID_PRIVATE_KEY=DOKmKjmFhyrSPvyBpJWNzifYkzwiq5E8-TpUVr3vBg8
VAPID_SUBJECT=mailto:bombaertb@gmail.com
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
GEMINI_API_KEY=
